
<div id="landing-block">
  <img src="./images/xc-landing-2.png"/>
  <span id="landing-info">
    <h1 class="whitened">Your small friendly Minecraft community. By a teacher, for students of all ages!</h1>
    <h2 class="xeneIp">IP <span class="showSm">Address</span>: </h2>
    <!-- <h4 class="xeneMotd"></h4> -->
    <span class="landing-buttons">
      <a class="btn btn-lg btn-success" href="/joining-the-server">Join the Server</a>
      <a class="btn btn-lg btn-success" href="/contact-us">Contact Us</a>
  </span>
  </span>
</div>