<section id="">
<h3 id="xeneIp">Server IP: </h3>
<h4 id="version"></h4>
<a id="server" class="btn">Currently:</a><br>
<div id="players">Players On:</div>
<br>
<a href="http://minecraftservers.org/server/247507" target="_blank"><img class="maxed-width"src="http://status.minecraftservers.org/classic/247507.png" alt="XeneCraft Minecraft server"/></a>

<br><br>
<div class="fb-page maxed-width" data-href="https://www.facebook.com/xenecraft" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/xenecraft"><a href="https://www.facebook.com/xenecraft">XeneCraft</a></blockquote></div></div>