body{
	font-family: Lato, Helvetica, Arial, sans-serif;
}
.main-body{
	padding:10% 5% 10% 10%;
}
.sidebar{
	padding:10% 10% 10% 5%;
}
.maxed-width{
	width: 100%;
}
.navved{
	height:60px;
}
.creepin{
	position: fixed;
	left: -10%;
	bottom: -10%;
	z-index: -100;
	height: 25%;
	transform: rotate(45deg);
	@media (max-height: 700px){
		left: -10%;
		bottom: -20%;
	}
}
.img-limited{
	max-height: 100px;
}
.img-center{
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}
.clickable{
	cursor: pointer;
}

header.site-header{
	background-color: black;
	border-color: $x-black !important;
}

.sidebar-main{
	margin-top: 6vh;
	overflow-x: hidden;
}

@media (min-width: 768px){
	.sidebar{
		border-left: $x-black solid 1px;
	}
}

.item > img{
	width: 100%;
}
.strikethrough{
	  text-decoration: line-through;
}