body{
	font-family: Lato, Helvetica, Arial, sans-serif;
}
.main-body{
	padding:10% 5% 10% 10%;
}
.sidebar{
	padding:10% 10% 10% 5%;
}
.maxed-width{
	width: 100%;
}
.navved{
	height:60px;
	width: 60px;
}