//Set variables for easier reference
$x-white: #F6FFF9;
$x-lGreen: #00FF00;
$x-silver: #DDDDDD;
$x-black: #000;
$x-dGreen: #00A72B;

h1,
h2,
h4,
h5 {
    color: $x-dGreen;
}

h3 {
    color: $x-black;
}

a {
    text-decoration: none;
    color: $x-dGreen;
    &:visited{
        color: $x-dGreen;
    }
}

.site-title {
    color: $x-dGreen
}

.lightSig {
    text-decoration: none;
    color: #be0000;
    &:visited {
        text-decoration: none;
        color: #be0000;
    }
    &:hover {
        text-decoration: none;
        color: #be0000;
    }
}
