
h1, h2, h4, h5{
  color: $x-dGreen;
}
h3{
  color: $x-black;
}

a{
  .post-link{
    text-decoration: none;
  }
  .site-title{
    text-decoration: none;
    :visited{
      color: $x-dGreen;
    }
  }
}

.site-title{
  color:$x-dGreen
}

