<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div>
  <div class="col-sm-9">
    <div class="main-body">
      {{ content }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="sidebar text-left">
      {% include sidebar.html %}
    </div>
  </div>
</div>
<div>
{% include footer.html %}
</div>
<!-- TODO: Make this creeper responsive, lol -->
<!-- <img src="/images/creeper_follow.png" class="creepin" alt="Creepin Creeper"> -->
<!--Start loading scripts-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--Facebook Widget-->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=905960176151613";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!--Twitter Widget-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/scripts/script.js"></script>

</body>

</html>
