<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<!--<div class="page-content">-->
<div>
  <div class="col-sm-8">
    <div class="main-body">
      {{ content }}
      }
    </div>
  </div>
  <div class="col-sm-4">
    <div class="sidebar text-center">
      {% include sidebar.html %}
    </div>
  </div>
</div>

<!-- {% include footer.html %} -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ "scripts/script.js" | prepend: site.BASE_PATH }}"></script>

</body>

</html>
